click==8.0.1
ffmpeg-python==0.2.0
m3u8==3.4.0
pyinstaller==5.13.1
pathvalidate==0.29.0
pycryptodome==3.19.1
requests==2.31.0
selenium==4.8.2
selenium-wire==5.1.0
tenacity==8.2.2
tqdm==4.65.0
types-colorama==0.4.15.11
types-requests==2.29.0.0
types-urllib3==1.26.25.12
